<nav>
  <div class="wrapper">
    <a href="/" title="Posts" class="text-link"> Posts </a>
    <div></div>

    <a href="https://github.com/nizami" title="GitHub">
      <svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#github"></use>
      </svg>
    </a>
    <i></i>
    <a href="https://www.linkedin.com/in/nizami-dev" title="LinkedIn">
      <svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
      </svg>
    </a>
    <i></i>
    <a href="/feed.xml" title="RSS">
      <svg class="svg-icon">
        <use xlink:href="/assets/minima-social-icons.svg#rss"></use>
      </svg>
    </a>
    <i></i>
    <a href="/about.html" title="About me" class="about-link">
      <img
        src="https://avatars.githubusercontent.com/u/9976489?s=128"
        alt="About Me"
      />
    </a>
  </div>
</nav>
