<div hidden><%- template('icons')%></div>

<nav>
  <div class="wrapper">
    <a href="/" title="Posts" class="text-link"> Posts </a>
    <div></div>
    <!-- <form
      method="get"
      action="https://www.google.com/search"
      itemprop="potentialAction"
      itemscope=""
      itemtype="http://schema.org/SearchAction"
    >
      <meta itemprop="target" content="https://www.google.com/search?q={q}" />
      <input name="sitesearch" value="nizami.dev" type="hidden" />
      <input
        id="searchInp"
        itemprop="query-input"
        type="text"
        required="required"
        name="q"
        placeholder="Search..."
        autocomplete="off"
      />
    </form>
    <a
      title="Search"
      onclick="window.searchInp.classList.toggle('show');
      window.searchSvg.classList.toggle('active');"
    >
      <svg id="searchSvg" class="svg-icon">
        <use xlink:href="#loupe" />
      </svg>
    </a> -->
    <a href="https://github.com/nizami" title="GitHub" target="_blank">
      <svg class="svg-icon">
        <use xlink:href="#github" />
      </svg>
    </a>
    <a
      href="https://www.linkedin.com/in/nizami-dev"
      title="LinkedIn"
      target="_blank"
    >
      <svg class="svg-icon">
        <use xlink:href="#linkedin" />
      </svg>
    </a>
    <a href="mailto:nizami.dev@gmail.com" title="Send mail" target="_blank">
      <svg class="svg-icon">
        <use xlink:href="#mail" />
      </svg>
    </a>
    <a href="/about" title="About me">
      <svg class="svg-icon">
        <use xlink:href="#user-1" />
      </svg>
    </a>
    <!-- <a href="/about" title="About me" class="about-link">
      <img
        src="https://avatars.githubusercontent.com/u/9976489?s=128"
        alt="About Me"
      />
    </a> -->
  </div>
</nav>
