<div hidden><%- template('icons')%></div>

<nav>
  <div class="wrapper">
    <a href="/" title="Posts" class="text-link"> Posts </a>
    <div></div>

    <a href="https://github.com/nizami" title="GitHub" target="_blank">
      <svg class="svg-icon">
        <use xlink:href="#github" />
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/nizami-dev" title="LinkedIn" target="_blank">
      <svg class="svg-icon">
        <use xlink:href="#linkedin" />
      </svg>
    </a>
    <a href="mailto:nizami.dev@gmail.com" title="Send mail" target="_blank">
      <svg class="svg-icon">
        <use xlink:href="#mail" />
      </svg>
    </a>
    <a href="/about.html" title="About me" class="about-link">
      <img
        src="https://avatars.githubusercontent.com/u/9976489?s=128"
        alt="About Me"
      />
    </a>
  </div>
</nav>
