---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="<%= link %>"><%= title %></a>
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="<%= new Date(date + ' '+ time) %>"
        itemprop="datePublished"
      >
        <%= date %>
      </time>
      <!-- <a title="See all posts with tag 'Tag'" href="/tag/Tag.html">Tag</a> -->
      <span><%= readingTime %></span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <%- content %>
  </div>
</article>
