:root {
  --accent-color: crimson;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.svg-icon {
  width: 20px;
  height: 20px;
  fill: #828282;
}

.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-meta a {
  border: solid 1px #535353;
  border-radius: 4px;
  padding: 0px 4px 2px;
  line-height: 1;
  display: inline-block;
  color: #885853;
}

.post-header {
  margin-bottom: 30px;
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}

h1,
h2 {
  font-family: 'Jura Light';
  letter-spacing: -1px;
  line-height: 1;
}
h1 {
  font-size: 42px;
  color: var(--accent-color);
}
h2 {
  font-size: 32px;
}

code[class*='language-'] {
  font-family: 'Source Code Pro';
}

pre[class*='language-'] {
  box-shadow: 0 6px 12px #565656;
  background: #000000;
  font-size: 16px;
  margin-bottom: 20px;
}

nav > div {
  height: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #8080802b;
}

nav div > div {
  flex-grow: 1;
}

nav a:not(.text-link) {
  margin-left: 24px;
}

nav img {
  border-radius: 50%;
  width: 64px;
  height: auto;
  filter: grayscale(1);
}

main a {
  padding-bottom: 4px;
  border-bottom: solid 1px;
}

.post-meta > * {
  margin-right: 30px;
}

body {
  font-size: 20px;
}

.post-item {
  margin-bottom: 100px;
}
.post-item > header > h2 {
  color: var(--accent-color);
}

nav a > * {
  border-radius: 50%;
  padding: 4px;
  border: solid 1px transparent;
  transition: 0.2s;
}

nav a > *:hover {
  border: solid 1px var(--accent-color);
  padding: 4px;
  box-shadow: 0 0 20px 0px #ed143d3d;
}

.text-link {
  font-family: 'Jura Light';
  transition: 0.2s;
}

.text-link:hover {
  color: var(--accent-color);
  text-shadow: 0 0 20px #ed143d3d;
}

code:not([class*='language-']) {
  background: #00000020;
  padding: 2px 4px;
  border-radius: 4px;
}

article h2 {
  margin: 40px 0 10px;
}
h2 a {
  border: none;
}
