a,
a:hover {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: #828282;
}

.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-meta a {
  border: solid 1px #535353;
  border-radius: 4px;
  padding: 0px 4px 2px;
  line-height: 1;
  display: inline-block;
  color: #885853;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}

h1 {
  font-family: 'Jura Light';
}

code[class*='language-'] {
  font-family: 'Source Code Pro';
}

pre[class*='language-'] {
  box-shadow: 0 6px 12px #121212;
  background: #000000;
  font-size: 16px;
}

nav > div {
  height: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #8080802b;
}

nav div > div {
  flex-grow: 1;
}

nav a {
  margin-left: 24px;
}

nav img {
  border-radius: 50%;
  width: 64px;
  height: auto;
  filter: grayscale(1);
}

article a {
  padding-bottom: 4px;
  border-bottom: solid 1px;
}

.post-meta > * {
  margin-right: 30px;
}

body {
  font-size: 20px;
}
