:root {
  --text-color: white;
}

body {
  background: #2d2d2d;
  color: var(--text-color);
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Source Code Pro';
  background: #000000;
  box-shadow: 0 6px 12px #121212;
  font-size: 16px;
}
