:root {
  --text-color: white;

  --bg-color: #222831;
  --bg-color-opacity: #22283120;
}

a {
  color: salmon;
  text-decoration: none;
}
a:visited {
  color: salmon;
}
a:hover {
  text-decoration: underline;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

.wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.svg-icon {
  width: 16px;
  height: 16px;
  fill: #828282;
}

.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-meta a {
  border: solid 1px #535353;
  border-radius: 4px;
  padding: 0px 4px 2px;
  line-height: 1;
  display: inline-block;
  color: #885853;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/* footer {
  height: 50px;
  background: var(--bg-color-opacity);
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  display: inline-block;
  margin: 0 30px;
} */

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
}
h1 {
  font-family: 'Accent Font';
}

code[class*='language-'] {
  font-family: 'Source Code Pro';
}

pre[class*='language-'] {
  box-shadow: 0 6px 12px #121212;
  background: #000000;
  font-size: 16px;
}

nav > div {
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #303944;
}
nav div > div {
  flex-grow: 1;
}

nav img {
  border-radius: 50%;
  width: 64px;
  height: auto;
}
nav i {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #303a44;
}

nav > div > div ~ i,
nav > div > div ~ a.about-link {
  margin: 0 8px;
}

nav > div > div ~ a {
  border: solid 1px transparent;
  padding: 2px 8px;
  transition-duration: 0.2s;
  transition-property: none;
}

nav > div > div ~ a.about-link {
  padding: 4px;
}
nav > div > div ~ a:hover {
  border: solid 1px;
  border-radius: 50%;
  transition-property: border-radius, border-color;
}

article a,
a.text-link {
  padding: 2px 4px;
  border: solid 1px transparent;
  transition-duration: 0.2s;
  transition-property: none;
}

article a:hover,
a.text-link:hover {
  transition-property: all;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: solid 1px;
  background-color: #fa80721c;
}
