---
title: Posts
layout: default
---

<% posts.forEach(function(post){ %>
<article class="post-item" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 itemprop="name headline">
      <a href="<%= post.link %>"><%= post.title %></a>
    </h2>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="2021-02-13T06:26:15+03:00"
        itemprop="datePublished"
      >
        <%= post.formattedDate %>
      </time>
      <span><%= post.readingTime %></span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <%- post.firstParagraph %>
  </div>
</article>

<% }); %>
